@font-face {
    font-family: "PlexSans";
    src: url("../fonts/Web/IBM-Plex-Sans/fonts/complete/eot/IBMPlexSans-Regular.eot") format("eot");
    src: url("../fonts/Web/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Regular.otf") format("otf");
    src: url("../fonts/Web/IBM-Plex-Sans/fonts/complete/ttf/IBMPlexSans-Regular.ttf") format("ttf");
    src: url("../fonts/Web/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff");
    src: url("../fonts/Web/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Regular.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .9);
}

html,
body {
    height: 100vh;
    font-family: "Roboto", arial, helvetica, sans-serif;
    color: rgba(255, 255, 255, .9);
    background-color: #1D1F1D;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100% !important;
}

.green {
    background-color: #7EC17E;
}

.red {
    background-color: #ED7171;
}

/* -------------------------------------------------------------mobile menu---------------------------------------------------- */

.mobile-menu-wrapper {
    width: 100%;
    height: 100%;
    background-color: #1D1F1E;
    overflow-y: auto;
}

.mobile-menu {
    width: 100%;
}

.mobile-logo {
    justify-content: space-between;
    padding: 20px;
    background-color: #2A2D2D;
    cursor: pointer;
}

.mobile-logo a img {
    width: 181px;
}

.close-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mobile-menu-items {
    width: 100%;
    padding-bottom: 20px;
}

.mobile-menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    cursor: pointer;
}

.mobile-menu-item-title {
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.mobile-menu-sub-item {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px 24px;
}

.mobile-menu-sub-item a {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    opacity: .6;
    padding: 12px 0;
    cursor: pointer;
}

.mobile-menu-social {
    margin-bottom: 8px;
    padding: 0 20px 5px 10px;
}

.mobile-menu-social a {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
}

/* -------------------------------------------------------------header---------------------------------------------------- */

header {
    width: 100%;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    background-color: #2A2B2B;
}

.header-left {
    justify-content: space-between;
    align-items: center;
}

.burger-menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
}

.logo {
    margin: 0 16px;
}

.header-menu {
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.header-menu-item {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 0 11px;
    opacity: .8;
}

.header-menu-item:first-of-type a {
    color: #84C47C;
}

.header-menu-item:hover a {
    color: #84E279;
}

.header-menu-btn a {
    justify-content: center;
    align-items: center;
    width: 106px;
    margin-top: 2px;
    padding: 5.6px;
    border-radius: 18px;
    background-color: #1D1F1E;
}

.search {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 32px;
    padding: 0 12px;
    background-color: rgba(29, 31, 30, .7);
}

.search input {
    flex: 1 1;
    width: 100%;
    height: 32px;
    padding: 0 6px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    outline: none;
    color: #FFF;
    background-color: transparent;
    opacity: .23;
}

.header-right-btns {
    justify-content: center;
    align-items: center;
}

.header-right-btn {
    justify-content: space-around;
    align-items: center;
    min-width: 70px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px;
    margin: 0 3px;
    border-radius: 6px;
    color: #84C47C;
    background-color: #313333;
    cursor: pointer;
}

.header-right-btn:nth-of-type(2) {
    width: 97px;
    margin: 0 6px 0 3px;
    padding: 5px 7px 5px 5px;
}

.header-right-btn:nth-of-type(2):hover {
    color: #FFF;
}

/* -------------------------------------------------------------main------------------------------------------------------------- */

main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------filters------------------------------------------------------------- */

.filters-nav {
    justify-content: space-between;
    flex: 1 1;
    max-width: calc(100% - 315px);
    min-height: 44px;
    margin-right: 2px;
    font-size: 14px;
    color: #959595;
    background-color: #1D1F1E;
}

.filters {
    justify-content: flex-start;
    margin-right: 13px;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filters-item {
    flex-wrap: nowrap;
    height: 32px;
    border-radius: 6px;
    background-color: #2A2B2B;
    cursor: pointer;
}

.filters-item:hover {
    background-color: rgba(60, 61, 61, .7);
}

.toggle-filters-btn {
    width: 32px;
    margin: 0 4px;
    padding-top: 4px;
    background-color: #313333;
    cursor: pointer;
    z-index: 100;
}

.toggle-filters-btn:hover {
    background-color: #2D2F2F;
}

.filters-wrapper>.filters-item {
    justify-content: space-between;
    min-width: fit-content;
    margin-right: 4px;
    padding: 0 10px;
    transition: background .2s;
}

.filters-wrapper {
    justify-content: space-between;
    max-width: 445px;
    transition: transform .5s;
}

.filters-wrapper-transformed {
    transform: translateX(-150%);
}

.filter-title {
    color: rgba(255, 255, 255, .5);
}

.filter-selected {
    max-width: 100%;
    margin: 0 2px;
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF;
}

.filter-arrow {
    margin-left: 10px;
}

.reset-filters {
    margin-right: 20px;
}

.reset-filters div {
    color: #959595;
}

.tools-wrapper {
    min-width: 215px;
    border-radius: 6px;
    box-shadow: -15px 0 15px 0 #1D1F1E;
    z-index: 2;
}

.tools {
    height: 32px;
    margin-right: 2px;
    border-radius: 6px;
    background: #313333;
    cursor: pointer;
}

.thunder-btn-wrapper {
    max-width: 36px;
    padding: 4px 9px;
}

.thunder-btn-wrapper:hover {
    background-color: #3E4141;
}

.view-btn-wrapper {
    padding: 4px 10px 4px 9px;
    background: #313333;
    border-radius: 6px;
}

.view-btn {
    width: 24px;
    height: 24px;
    padding: 4px;
}

.view-btn:last-of-type {
    margin-left: 5px;
}

.view-btn:last-of-type:hover {
    background-color: #3E4141;
}

.share-btn {
    justify-content: space-evenly;
    min-width: 103px;
    color: #84c47c;
}

.share-btn:hover {
    background-color: #3E4141;
}

.share-btn img {
    width: 14px;
    height: 16px;
}

.share-btn div {
    color: #84c47c;
}

/* -------------------------------------------------------------side bar------------------------------------------------------------- */

aside {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    margin: 3px;
    padding: 10px;
    border-radius: 6px;
    background-color: #2A2D2D;
    transition: width .5s;
    z-index: 100;
}

.toggle-sidebar {
    position: absolute;
    top: 45%;
    margin-left: -18px;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.news-feed-wrapper {
    flex-direction: column;
    flex: 1 0 auto;
}

.news-feed {
    position: relative;
    flex-direction: column;
    flex: 1 1 39px;
    width: 100%;
    max-height: 477px;
    border-radius: 3px;
    background-color: #1D1F1E;
}

.sidebar-title {
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #3C3E3E;
}

.news-wrapper,
.statistics-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 12px;
    overflow-y: auto;
}

.news-wrapper {
    max-height: 60vh;
    transition: max-height 0.25s ease-in;
}

.news-wrapper-closed {
    max-height: 0vh;
}

.news-wrapper::-webkit-scrollbar {
    width: 6px;
}

.news-wrapper::-webkit-scrollbar-thumb {
    background: #3e4141;
    border-radius: 100px;
}

.news {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 23px;
    padding: 10px 0;
    border-bottom: 1px solid #383939;
}

.news-title {
    font-size: 15px;
    font-weight: 500;
}

.news-title:hover {
    opacity: .8;
}

.author {
    font-size: 13px;
    margin-right: 10px;
    color: #84C47C;
}

.author-coin360 {
    color: #FFA500;
}

.time {
    font-size: 13px;
    color: #FFF;
    opacity: .5;
}

.sidebar-bottom {
    position: sticky;
    bottom: 13px;
    padding-top: 8px;
    background-color: #2A2D2D;
}

.statistics-wrapper {
    max-height: 16vh;
    border-radius: 3px;
    transition: max-height 0.25s ease-in;
}

.statistics-wrapper-closed {
    max-height: 0;
}

.statistics {
    display: flex;
    flex-direction: column;
    flex: 1 1 39px;
    width: 100%;
    max-height: 138px;
    margin-bottom: 8px;
    border-radius: 3px;
    background-color: #1D1F1E;
}

.statistics-item {
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.statistics-item-detail {
    justify-content: space-between;
    width: 50%;
    padding: 6px 0;
    border-bottom: 1px solid #383939;
}

.dominance {
    border: none;
}

.statistics-item-detail span {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -.01em;
    color: #FFF;
}

.statistics-item-detail span:first-of-type {
    opacity: .6;
}

.statistics-percentage {
    margin-left: 8px;
    color: #84C47C !important;
    opacity: 1 !important;
}

.statistics-coin-percentage {
    gap: 10px;
}

.social-media {
    justify-content: space-between;
    flex: 0 0 auto;
    gap: 8px;
    background-color: #2A2D2D;
}

.social-media a {
    width: 52px;
    height: 32px;
    padding: 5px;
    border-radius: 6px;
    background-color: #313333;
}

.social-media a img {
    width: 22px;
    height: 22px;
}

/* -------------------------------------------------------------coins------------------------------------------------------------- */

.coin-status {
    position: absolute;
    top: 65px;
    left: 0;
    display: grid;
    grid-template-columns: 62% 39% 19.35% 5%;
    width: 57vw;
    height: 100vh;
}

.coin-status>* {
    font-family: 'PlexSans', serif;
}

.coin {
    position: relative;
    flex-direction: column;
    border-right: 1px solid #3E4141;
    border-bottom: 1px solid #3E4141;
}

.coin:hover {
    border: 3px solid #FFA500;
}

.coin-name {
    position: relative;
    line-height: 1;
    text-shadow: .015em .015em 0 rgba(50, 49, 54, .28);
    color: #FFF;
}

.coin-name svg {
    position: absolute;
    right: -40px;
    top: -13.3333px;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: .2s;
    z-index: 100;
}

.inside-columns .coin-name svg {
    right: -20px;
    top: -8px;
    width: 20px;
    height: 20px;
}

.third-column .coin-name svg,
.forth-column .coin-name svg {
    right: -10px;
    top: 0;
    width: 10px;
    height: 10px;
}

.very-inside-columns .coin-name svg {
    right: -2px;
    top: -6px;
    width: 8px;
    height: 8px;
}

.small-star {
    right: 0 !important;
    top: -3px !important;
    width: 3px !important;
    height: 3px !important;
}

.coin:hover .coin-name svg {
    opacity: 1;
}

.coin:hover .coin-name svg path {
    fill-opacity: 20%;
}

.coin-name svg:hover path {
    fill-opacity: 20%;
    stroke: #FFF !important;
}

.coin-price {
    line-height: 1em;
    text-shadow: .015em .015em 0 rgba(50, 49, 54, .28);
    color: #FFF;
}

.coin-percentage {
    margin-top: 8px;
    text-shadow: .015em .015em 0 rgba(50, 49, 54, .28);
    color: #FFF;
}

.third-column .coin-percentage,
.forth-column .coin-percentage {
    margin-top: 2px;
}

.coin-dominance {
    position: absolute;
    bottom: 10px;
    font-size: .875rem;
    line-height: 1em;
    color: #FFF;
    text-shadow: .015em .015em 0 rgba(50, 49, 54, .28);
}

.inside-columns {
    display: grid;
}

.second-column .inside-columns {
    grid-template-columns: 12vw auto;
}

.third-column .inside-columns {
    grid-template-columns: 6vw 5vw;
}

.forth-column .inside-columns {
    grid-template-columns: 5vw 5.3vw;
}

.very-inside-columns {
    display: grid;
    grid-template-columns: auto auto;
}

.three-inside-columns {
    grid-template-columns: repeat(3, auto);
}